.animal-detail-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  background-color: var(--purple);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
}

.img-cell {
  padding: 2em;
  background-color: #4b4b7e;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.img-cell img {
  position: absolute;
  height: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  left: 2em;
  bottom: -3em;
  border-radius: 50%;
  border: solid 1px var(--white);
}

.text-cell {
  padding: 4em 2em 2em 2em;
  background-color: rgb(28, 28, 28);
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.name-and-pronouns {
  display: flex;
  align-items: center;
}

.text-cell .name {
  color: var(--green);
  font-weight: bold;
  font-size: 2em;
}

.text-cell .pronouns {
  color: var(--white);
  font-weight: 400;
  font-size: 1.25em;
  margin-left: 0.5em;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  width: 100%;
  height: 100%;
  margin-top: 0.5em;
}

.details-grid .detail-cell {
  padding: 0.5em;
  margin-left: -0.5em;
}

.detail-cell .detail-label {
  opacity: 0.5;
  font-size: 0.8em;
}

.detail-cell .detail-value {
  font-weight: bold;
  font-size: 1.25em;
  opacity: 0.8;
}

.next-bar-cell {
  padding: 2em;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  background-color: rgb(28, 28, 28);
}
